* {
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  font-family: 'Source Sans Pro', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-size: 16px;
  font-weight: normal;
  margin: 3em 0;
  padding: 0;
}

.outer {
  margin: 0 auto;
  max-width: 780px;
  text-align: center;
}

.subtitle {
  color: #999;
  font-size: .875em;
  margin-bottom: 2em;
  text-align: center;
}

.leaderboard {
  border-top: 1px solid #f1f1f1;
  counter-reset: ol-counter;
  list-style-type: none;
  margin: 0 0 1.5em;
  padding: 0;
}

.searchbox {
  padding: 1em;
}

li.product {
  border: 1px solid lightgrey;
  border-radius: 15px;
  padding: 1em;
  margin: 1em;
  display: flex;
  align-items: center;
  flex-direction: column;
}

ol {
  margin: 0;
  padding: 0;
  list-style: none;
}
/*
form {
  width: 500px;
  margin: 50px auto;
}*/

.searchbox {
  width:20em;
  padding: 8px;
  background: rgba(50, 50, 50, 0.2);
  border: 0px solid #dbdbdb;
  padding-left: 13px;
  -webkit-animation: mymove 5s infinite;
}

.searchit {
  position: relative;
  padding: 6px 15px;
  left: -8px;
  border: 2px solid #02EF2A;
  background-color: #02EF2A;
  color: #fafafa;
  animation: mymove 5s infinite;
}

.searchit:hover {
  background-color: #01D725;
  text-decoration: none;
}

body {
  background-color: #ecf0f1;
}

.footer {
  /* height: 60px; */
  font-size: 25px;
  text-align: center;
  color: #ecf0f1;
  position: absolute;
  background-color: grey;
  bottom: 0;
  width: calc(100% - 60px);
  /* padding: 20px; */
  width: 100%;
}
img {
  margin: 15px;
}
.logo {
  width: 50%;
  margin-bottom: 30px;
}
